*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --dark: #222222;
    --blue: #009EFF;
    --grey: #f3f3f3;
}

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: var(--dark);
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: var(--blue);
}

header {
    height: 4rem;
    width: 100%;
    background-color: var(--grey);
    position: fixed;
    top: 0;
    padding: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.25);
    z-index: 1000;
}

header img {
    height: 100%;
    margin: 0rem 1rem;
}

header nav {
    align-self: center;
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 100;
}

header nav a {
    /* margin: 0rem 1rem; */
    align-self: center;
    color: var(--dark);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    /* letter-spacing: 0.1rem; */
    font-size: 1.2rem;
    padding: 0rem 1rem;
    border-bottom: solid 0.25rem rgba(0,0,0,0);
}

header nav a::before{
    content: "";
    border-left: solid 1rem var(--dark);
    position: relative;
    left: -1rem;
}

header nav a:hover {
    color: var(--blue);
    border-bottom: solid 0.25rem var(--blue);
    border-color: var(--blue);
}

header nav a:hover::before{
    border-left: solid 1rem var(--blue);
}

div.hero {
    width: 100%;
    height: 35rem;
    background-image: url("hvac.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 15rem;
    text-align: center;
    vertical-align: center;
    /* object-fit: cover; */
}

div.hero h1 {
    margin: 0;
    padding: 2rem;
    background-color: rgba(255,255,255,0.9);
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    font-size: 2rem;
    color: var(--blue);
    transform: skew(0deg, -2deg);
    text-shadow: 0 0 0.25rem rgba(255,255,255,0.9);
    text-transform: uppercase;
}

div.hero h3 {
    font-size: 1rem;
    margin: 2rem 0rem;
    color: var(--dark);
    display: inline-block;
    background-color: rgba(255,255,255,0.9);
    padding: 0.5rem;
    text-shadow: 0 0 0.25rem rgba(255,255,255,0.9);
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    transform: skew(0deg, -2deg);
    /* font-weight: normal; */
}

div.content{
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}

div.main {
    background: linear-gradient(var(--grey), white);
}

h1.sec {
    background-color: var(--blue);
    display: inline-block;
    color: white;
    padding: 1rem;
    transform: skew(0deg, -2deg);
    margin: 4rem auto 0.5rem auto;
    /* border-bottom: solid 0.2rem var(--blue); */
}

h3{
    font-size: 1rem;
    margin-bottom: 3rem;
}

div#modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#modules h3 {
    margin: 0;
    /* text-transform: capitalize; */
    /* display: inline-block; */
}

#modules img {
    float: left;
    margin-right: 1rem;
    /* margin-bottom: 2rem; */
    width: 8rem;
}

#modules p{
    margin: 0;
    margin-top: 1rem;
    line-height: 1.25rem;
}

#modules div {
    flex: 1 1;
    max-width: 30rem;
    min-width: 22rem;
    padding: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    text-align: left;
    color: var(--dark);
    background-color: var(--grey);
    margin: 1rem;
}

#about, #form {
    background-color: var(--grey);
    padding: 4rem;
    text-align: left;
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    color: var(--dark);
}

#form {
    text-align: center;
    padding: 2rem;
}


#form label {
    display: inline-block;
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;

}

#form input {
    margin: 1rem auto;
    padding: 1rem;
    /* display: block; */
    font-size: 1.25rem;
    border: none;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0.5rem rgba(0,0,0,0.25);
}

#form input[type=submit]{
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    box-shadow: none;
}

#form input[type=submit]:hover{
    background-color: var(--dark);
    cursor: pointer;
}

#about p {
    margin: 0;
    line-height: 1.25rem;
}

#about p:not(:first-of-type){
    margin-top: 1.25rem;
}

#video {
    display: block;
    margin: 2rem auto;
    width: 100%;
    height: 20rem;
    max-width: 40rem;
}

footer {
    /* height: 3rem; */
    /* max-width: 50rem; */
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem;
    background-color: var(--grey);
    color: #555555;
    font-size: 0.8rem;
}

@media(max-width: 700px){
    html{
        font-size: 14px;
    }
    header {
        height: 5.5rem;
    }
    header nav{
        margin: 0;
        height: 100%;
    }
    header nav a{
        /* margin: 0.25rem; */
        font-size: 1rem;
    }
    header img {
        align-self: center;
        height: 75%;
        margin: 0rem 1rem;
    }
    div.hero {
        height: 25rem;
        padding-top: 10rem;
    }
    #about {
        padding: 2rem;
    }
}